<title>FullCall Rooms</title>
<meta property="og:title" content="FullCall Rooms"/>
<meta property="og:image" content="images/logo-deep-linking.png?v=1"/>
<meta property="og:description" content="Join a video conference"/>
<meta description="Join a video conference"/>
<meta itemprop="name" content="FullCall Rooms"/>
<meta itemprop="description" content="Join a video conference"/>
<meta itemprop="image" content="images/logo-deep-linking.png?v=1"/>
<link rel="icon" type="image/png" href="images/favicon.ico?v=1"/>
